/* NavBar */

.navbar-bars i {
    color: white;
    font-size: 22px;
    line-height: 80px;
}

/* 2.3 Page: BANNER */

.page-banner {
    position: relative;
    padding: 65px 0 10px;
    color: #fff;
}
.page-banner:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    content: "";
    width: 100%;
    z-index: -1;
    background: #026FCE;
    background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -ms-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -moz-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -o-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -webkit-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
}
.page-banner .uk-container {
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}
.page-banner h2 {
    color: white;
    font-weight: bold;
}
.page-banner h3 {
    color: rgba(196, 227, 255, 0.8);
}
.page-banner .uk-iconnav, .page-banner .uk-iconnav > li {
    display: inline-block;
}
.page-banner .fa {
    line-height: 36px;
}
@media (max-width: 991px) {
    .page-banner {
        padding-top: 95px;
        padding-bottom: 30px;
    }
}
@media (max-width: 626px) {
    .page-banner {
        padding-top: 80px;
    }
}

/* 2.3.1 Banner: Slogan */

.banner-slogan:after {
    display: block;
    content: "";
    clear: both;
}
.banner-slogan .banner-search {
    float: none;
    width: auto;
    max-width: 610px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.banner-slogan .actions {
    padding-bottom: 0;
}
.slogan-title {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-weight: 600;
}
.slogan-desc {
    max-width: 700px;
    margin: 15px auto 25px auto;
    color: rgba(196, 227, 255, 0.8);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
    text-align: center;
}
.slogan-desc a {
    color: #fff;
}
@media (max-width: 991px) {
    .slogan-desc {
        line-height: 28px;
    }
}
@media (max-width: 767px) {
    .banner-slogan .actions {
        padding-bottom: 0;
    }
    .slogan-title,
    .slogan-desc {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* 2.3.2 Banner: Hero */

.banner-slogan-hero {
    padding: 5px 0 25px 0;
}
@media (max-width: 991px) {
    .banner-slogan-hero {
        padding: 25px 0 45px 0;
    }
}
@media (max-width: 767px) {
    .banner-slogan-hero {
        padding: 0;
    }
}

/* 2.3.3 Banner: Search */

.banner-search .uk-button > i {
    color: rgba(196, 227, 255, 0.6);
}
@media (min-width: 768px) {
    .banner-search {
        float: right;
        width: 350px;
        padding: 34px 0 0 0;
    }
}

/* 2.3.4 Banner: Image */

.banner-image {
    position: relative;
    margin: 45px 0 0 0;
    text-align: right;
}
.banner-image .image {
    display: inline-block;
}
@media (max-width: 991px) {
    .banner-image {
        margin-top: 85px;
    }
}

/* 2.3.5 Banner: Tabs */

.banner-tabs {
    margin-top: 20px;
    text-align: left;
}
.banner-tabs .nav-tabs {
    padding: 0;
    margin: 0 -24px;
    border: none;
}
.banner-tabs .nav-tabs:after {
    display: block;
    content: "";
    clear: both;
}
.banner-tabs .nav-tabs > li > a,
.banner-tabs .nav-tabs > li > span {
    display: block;
    height: 100%;
    padding: 30px 12px;
    margin: 0 12px;
    color: rgba(196, 227, 255, 0.6);
    font-size: 16px;
    line-height: 18px;
    white-space: normal;
    text-transform: capitalize;
}
.banner-tabs .nav-tabs > li > a:hover {
    color: #fff;
}
.banner-tabs .nav-tabs > li > a,
.banner-tabs .nav-tabs > li > span {
    position: relative;
    font-weight: 500;
}
.banner-tabs .nav-tabs > li.active > a,
.banner-tabs .nav-tabs > li.active > span {
    color: #fff;
}
.banner-tabs .nav-tabs > li.active > span:after,
.banner-tabs .nav-tabs > li.active > a:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    height: 16px;
    width: 26px;
    margin-left: -13px;
    background: transparent;
    content: "\f2f8";
    color: #fff;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 49px;
    line-height: 26px;
    text-align: center;
}
.banner-tabs .nav-tabs > li .badge {
    margin-left: 10px;
    background-color: rgba(196, 227, 255, 0.2);
    color: rgba(196, 227, 255, 0.6);
}
.banner-tabs .nav-tabs > li.active .badge {
    background-color: #fff;
    color: #1e88e5;
}

.banner-tabs.tabs-responsive {
    height: 78px;
}
.banner-tabs.tabs-responsive .nav-tabs {
    height: 96px;
}
.banner-tabs.tabs-responsive .btn {
    top: 14px;
    color: rgba(196, 227, 255, 0.6);
    font-size: 24px;
}
@media (max-width: 1199px) {
    .banner-tabs .nav-tabs > li > a {
        padding-left: 4px;
        padding-right: 4px;
    }
    .banner-tabs .nav-tabs {
        padding: 0;
        margin: 0 -16px;
    }
}

/* 2.4.7 Banner: Home */

.page-banner-home:after {
    /* height: 350px; */
}
.page-banner-home .slogan-desc {
    font-size: 20px;
}
.page-banner-home .banner-slogan,
.page-banner-center {
    text-align: center;
}
.page-banner-home .slogan-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
}
.page-banner-home .banner-image {
    margin: 35px 0 0 0;
}
@media (min-width: 768px) {
    .page-banner-home {
        padding-bottom: 0;
    }
}
@media (max-width: 767px) {
    .page-banner-home {
        position: relative;
    }
    .page-banner-home:after {
        height: 100%;
    }
    .banner-image {
        display: none;
    }
    .page-banner-home .slogan-desc {
        display: none;
    }
}

/* 2.3.8 Banner: Subpage */

@media (min-width: 992px) {
    .page-banner-subpage .banner-image {
        padding-right: 80px;
    }
}
@media (max-width: 991px) {
    .page-banner-subpage .slogan-title {
        font-size: 30px;
        line-height: 38px;
    }
    .page-banner-subpage .banner-image {
        padding-right: 30px;
    }
}
@media (max-width: 767px) {
    .page-banner-subpage {
        text-align: center;
    }
}

/* 2.3.1 Page: BANNER HOME */
@media (max-width: 767px) {
    .page-banner.page-banner-home {
        padding-bottom: 35px;
    }
}

/* index */

@media (min-width: 767px) {
    .archive-item {
        padding: 30px;
    }
}

/* Comment */

.comment-header > input[type="text"] {
    width: 150px;
    margin-left: 10px;
}

.comment-avatar {
    height: 50px;
    margin: 5px 0;
    border-radius: 25px;
}

.comment-entries-inner {
    margin-left: 30px;
}

.comment-entries > .from_staff, .comment-entries > .from_account {
    position: relative;
    border-radius: 4px;
    padding: 18px;
    margin: 12px 0px;
}

.comment-entries > div .comment-clear {
    clear: both;
}

.comment-entries .from_staff {
    background-color: #e5f5e6;
}

.comment-entries .from_account {
    background-color: #e5f4ff;
}

.comment-entries > div .comment-avatar {
    position: relative;
    float: left;
    border-radius: 4px;
    width: 50px;
    top: 0;
}

.comment-entries > div .comment-container {
    position: relative;
    float: left;
    left: 18px;
    top: -3px;
}

.comment-entries > div .comment-name > a { /* <a> is name */
    color: #363b40;
    font-weight: bold;
}

.comment-entries > div .comment-reply {
    position: relative;
    top: 0;
    float: right;
    margin-right: 24px;
    font-size: 13px;
    color: #FD482C;
    cursor: pointer;
}

.comment-entries > div .comment-time {
    position: relative;
    float: right;
    top: 0;
    font-size: 13px;
    opacity: .8;
}

@media (max-width: 800px) {
    .comment-entries-inner {
        margin-left: 20px;
    }
}

@media (max-width: 500px) {
    .comment-entries-inner {
        margin-left: 10px;
    }
}

/* Markdown */

.markdown table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
}
.markdown thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.markdown th {
    font-weight: bold;
}
.markdown tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.markdown tbody tr:nth-of-type(odd) {
    background: #fafafa;
}
.markdown td, .markdown  th {
    padding: 8px 8px;
    border-bottom: 1px solid #e5e5e5;
}

.markdown            { font-family: "Microsoft Yahei", "Raleway",Helvetica,Arial,sans-serif; }
.markdown            { font-size: 15px; font-weight: 300; font-style: normal; line-height: 25px; color: #616366; margin: 0 0 17px 0; padding: 0; }

.markdown h1         { font-size: 28px; font-weight: 500; font-style: normal; line-height: 34px; color: #363b40; margin: 25px 0 25px 0; padding: 0; }
.markdown h2         { font-size: 28px; font-weight: 500; font-style: normal; line-height: 34px; color: #363b40; margin: 25px 0 25px 0; padding: 0; }
.markdown h3         { font-size: 20px; font-weight: 500; font-style: normal; line-height: 28px; color: #363b40; margin: 25px 0 25px 0; padding: 0; }
.markdown h4         { font-size: 16px; font-weight: 500; font-style: normal; line-height: 22px; color: #363b40; margin: 18px 0 18px 0; padding: 0;  }
.markdown h5         { font-size: 15px; font-weight: bold; font-style: normal; line-height: 22px; color: #363b40; margin: 18px 0 18px 0; padding: 0; }
.markdown h6         { font-size: 14px; font-weight: bold; font-style: normal; line-height: 20px; color: #363b40; margin: 18px 0 18px 0; padding: 0; }
.markdown h6.s1      { font-size: 13px; font-weight: bold; font-style: normal; line-height: 20px; color: #363b40; margin: 18px 0 18px 0; padding: 0; }

.markdown p          { font-size: 15px; font-weight: 300; font-style: normal; line-height: 25px; color: #616366; margin: 0 0 17px 0; padding: 0; }

.markdown ul         { list-style: disc; padding-left: 40px; }
.markdown ol         { padding-left: 40px; }

.markdown blockquote      { font-size: 14px; margin: 0 0 20px 40px; padding: 10px 20px; border-left: 5px solid #eeeeee; }
.markdown blockquote > p  { font-size: 14px; }

.markdown code       { font-family: "Consolas", "Menlo", "Monaco", monospace, serif; }
.markdown code       { font-size: 0.9em; background-color: #f9f2f4; color: #c7254e; border-width: 0; border-radius: 3px; padding: 2px 4px; }
.markdown p code     { font-size: 13px; }
.markdown pre code   { font-size: 13px; border-width: 0; padding: 0; }

.markdown pre {
    font-size: 13px;
    line-height: 1.5em;
    color: #c7254e;
    border-radius: 3px;
    overflow: auto;
    padding: 10px;
    background-color: #f9f2f4;
    /* background: linear-gradient(to bottom, #f9f2f4 0.0em, #f9f2f4 1.25em, #fffbfb 1.25em, #fffbfb 2.5em); */
    /* background: -webkit-linear-gradient(to bottom, #f9f2f4 0.0em, #f9f2f4 1.25em, #fffbfb 1.25em, #fffbfb 2.5em); */
    border: 1px solid #f9f2f4;
}

.markdown a          { color: #1e88e5; text-decoration: none; }
.markdown a:link,
.markdown a:visited,
.markdown a:active   {}
.markdown a:hover    { color: #3ba3ff; text-decoration: none; }
.markdown a img      { border: none; }

.markdown hr         { height: 0; margin: 35px 0; border-width: 0; border-top: solid 1px #eeeeee; }
.markdown img        { max-width: 100%; }

/* Override UiKit Styles */

.uk-position-top {
    z-index: 1;
}

.uk-navbar-nav > li > a {
    padding: 15px 24px;
    color: rgba(196, 227, 255, 0.8);
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: ease-in color .15s;
    transition: ease-in color .15s;
 }
.uk-navbar-nav > li.active > a, .uk-navbar-nav > li.open > a,
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li:focus > a {
    color: #fff;
    text-decoration: none;
}

.uk-offcanvas-bar {
    background-color: white;
}
.uk-offcanvas-bar .uk-nav-primary li > a {
    color: #0a001f;
}
.uk-offcanvas-bar .uk-nav-primary li > a:active, .uk-offcanvas-bar .uk-nav-primary li > a:hover {
    color: #0d6aad;
}
.uk-offcanvas-close {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    line-height: 0;
    cursor: pointer;
    font-size: 30px;
    color: #4d4d4c;
}

a.uk-label {
    padding: 3px 7px;
}

a.uk-label:hover, a.uk-label:active {
    color: #fff;
    text-decoration: none;
}

.uk-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 0 16px;
    margin: 5px 0;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
}

.uk-textarea {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 12px 16px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    margin: 5px 0;
}
.uk-button {
    min-width: 100px;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    /* box-shadow: 0 2px 6px rgba(0,0,0, 0.1); */
    -webkit-transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -ms-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
    transition: all ease-in .15s;
}

.uk-button-small {
    height: 42px;
    min-width: 60px;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 14px;
}
.uk-button:active, .uk-button.active {
    background-image: none;
    outline: 0;
}
.uk-button:hover, .uk-button:focus, .uk-button.focus {
    color: #333;
    text-decoration: none;
}

.uk-button-primary {
    background-color: #1e88e5;
    border-color: #1e88e5;
}

.uk-button-primary:active:hover, .uk-button-primary.active:hover, .open>.dropdown-toggle.uk-button-primary:hover,
.uk-button-primary:active:focus, .uk-button-primary.active:focus, .open>.dropdown-toggle.uk-button-primary:focus,
.uk-button-primary:active.focus, .uk-button-primary.active.focus, .open>.dropdown-toggle.uk-button-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.uk-button-primary:active, .uk-button-primary.active, .open>.dropdown-toggle.uk-button-primary {
    background-image: none;
}
.uk-button-primary:hover, .uk-button-primary:focus, .uk-button-primary.focus, .uk-button-primary:active, .uk-button-primary.active, .open>.uk-button-primary {
    color: #fff;
    background-color: #3ba3ff;
    border-color: #3ba3ff;
}

.uk-button-primary.disabled, .uk-button-primary[disabled], fieldset[disabled] .uk-button-primary,
.uk-button-primary.disabled:hover, .uk-button-primary[disabled]:hover, fieldset[disabled] .uk-button-primary:hover,
.uk-button-primary.disabled:focus, .uk-button-primary[disabled]:focus, fieldset[disabled] .uk-button-primary:focus,
.uk-button-primary.disabled.focus, .uk-button-primary[disabled].focus, fieldset[disabled] .uk-button-primary.focus,
.uk-button-primary.disabled:active, .uk-button-primary[disabled]:active, fieldset[disabled] .uk-button-primary:active,
.uk-button-primary.disabled.active, .uk-button-primary[disabled].active, fieldset[disabled] .uk-button-primary.active {
    background-color: #1e88e5;
    border-color: #2e6da4;
}

/*
 * References
 * zmdi: http://nd2.godesign.ch/examples/extended/icons.html
 * zmdi: hhttps://github.com/zavoloklom/material-design-iconic-font
 * pace: https://github.hubspot.com/pace/docs/welcome/
 * select2: https://select2.org/
 * fonticon: http://www.iconfont.cn
*/

