/* -------------------------------
   1.0 General
------------------------------- */

/* 1.1 General: Reset */

body.navbar-open {
	overflow: hidden;
}

/* 1.2 General: Typography */
.desc {
  font-size: 16px;
  line-height: 28px;
}

.link-docs {
  display: block;
  margin: 18px 0 -8px 0;
}
.actions {
  margin: 0;
  padding: 24px 0;
}

/* 1.3 General: Helpers */

@media (max-width: 767px) {
	.actions .btn {
		width: 100%;
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;

	}
}

/* 1.4 General: Icons */

.icon {
	display: inline-block;
  color: #1e88e5;
	font-family: 'icons';
  font-size: 24px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 1.4 General: Animations */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

/* 4.1 Component: Panel */

.panel-body {
	position: relative;
}
.panel-chart {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  width: 30%;
  overflow: hidden;
}
.panel-chart img {
  width: 470px;
  margin-top: 5px;
}

/* 4.2 Component: Block */

@media (min-width: 992px) {
	.blocks .row-table-md {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}
	.blocks .row-table-md > [class*="col-"] {
		float: none;
		display: table-cell;
		padding-bottom: 20px;
		height: 100%;
    vertical-align: top;
	}
	.blocks .row-table-md > [class*="col-"] > .panel {
		display: table;
		height: 100%;
		margin: 0;
	}
 	.blocks .row-table-md > [class*="col-"] > .panel > .panel-body {
    height: 100%;
  }
}
@media (min-width: 768px) {
	.blocks .row-table {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}
	.blocks .row-table > [class*="col-"] {
		float: none;
		display: table-cell;
		padding-bottom: 20px;
		height: 100%;
	}
	.blocks .row-table > [class*="col-"] > .panel {
		display: table;
		height: 100%;
		margin: 0;
	}
}

/* 4.3 Component: Accordion */

.accordion {
	max-width: 740px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	text-align: left;
	list-style: none;
}
.accordion-full {
  max-width: 100%;
}
.accordion > li {
	position: relative;
	padding: 0 0 7px 40px;
}
.accordion > li.open {
	padding-bottom: 31px;
}
.accordion > li .plus-icon {
	position: absolute;
	left: -40px;
	top: 50%;
  margin-top: -9px;
}
.accordion > li.open .plus-icon span {
	background-color: #1e88e5;
}
.accordion > li.open .plus-icon span:last-child {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.accordion-title {
  position: relative;
	margin: 0 0 18px 0;
	cursor: pointer;
	-webkit-transition: color ease-in .15s;
	-moz-transition: color ease-in .15s;
	-ms-transition: color ease-in .15s;
	-o-transition: color ease-in .15s;
	transition: color ease-in .15s;
}
.accordion > li.open .accordion-title,
.accordion-title:hover {
	color: #1e88e5;
}
.accordion-bordered > li {
  padding-top: 25px;
  padding-bottom: 7px;
  border-bottom: 1px solid #edf0f2;
}
.accordion-bordered > li.open {
  padding-bottom: 40px;
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.plus-icon {
	position: relative;
	display: block;
	height: 16px;
	width: 16px;
}
.plus-icon span {
	position: absolute;
	display: block;
	background-color: #6d7073;
	-webkit-transition: all ease-in .15s;
	-moz-transition: all ease-in .15s;
	-ms-transition: all ease-in .15s;
	-o-transition: all ease-in .15s;
	transition: all ease-in .15s;
}
.plus-icon span:first-child {
	top: 7px;
	height: 2px;
	width: 16px;
}
.plus-icon span:last-child {
	left: 7px;
	height: 16px;
	width: 2px;
}

/* 4.4 Component: Code */

.code {
	position: relative;
}
.code-title {
	position: absolute;
	top: 20px;
	left: 20px;
	margin: 0;
	color: #616366;
	font-size:16px;
}
.code pre {
	padding-top: 50px;
}
.code pre code {
	float: left;
}

/* 4.4 Component: Table */

.table {
  font-size: 14px;
}
.table small {
		padding-top: 4px;
		display: block;
}
.table b {
		color: #2b3033;
}
.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
	padding-left: 5px;
}
.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child {
	padding-right: 5px;
}
.table .cell-actions .btn > i{
		font-size: 24px;
}
.table .flag-sm {
	margin-right: 10px;
	vertical-align: sub;
}

.table-ondark {
  color: #fff;
}
.table-ondark > thead > tr > th,
.table-ondark > tbody > tr > td {
  border-color: rgba(255,255,255, 0.1);
}

/* 4.5 Component: Coupon */

.panel-coupon {
  position: relative;
  padding-right: 200px;
  border-color: #1e88e5;
  border-style: dashed;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.panel-coupon:hover {
  border-color: #3ba3ff;
}
.coupon-desc {
  padding: 40px;
}
.coupon-desc .display-2 {
  margin-bottom: 24px;
}
.coupon-desc p {
  margin-bottom: 0;
}

/* 4.3 Component: Glyphs */

#logo-glyphs .panel {
  height: 155px;
  vertical-align: middle;
}
#logo-glyphs .panel img {

}
.inline-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.download-links {
  margin-top: -5px;
  text-align: center;
}
.download-links .link {
  margin: 0 5px;
}
#brand-banners h3 {
  color: #fff;
}
#brand-banners .banners {
  text-align: left;
}
#brand-banners .banners ul {
  width: 100%;
}
#brand-banners .banners ul > li {
  float: none;
  display: block;
  margin-bottom: 40px;
}
#brand-banners .banners ul > li img {
  max-width: 100%;
}
#brand-banners .banners ul > li:last-child {
  margin: 0;
}
#brand-banners .banner-img {
  display: inline-block;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0, 0.3);
  box-shadow: 0 5px 30px rgba(0,0,0, 0.3);
}
#brand-banners .banner-link {
  display: block;
  color: rgba(255, 255, 255, 0.4);
}
#brand-banners .banner-link > i {
  margin-right: 16px;
  font-size: 19px;
}
#brand-banners .banner-link:hover {
  color: #fff;
}
#brand-banners .banner-img:focus,
#brand-banners .banner-link:focus {
  outline: none;
}
@media (max-width: 767px) {
  .download-links {
    margin-bottom: 20px;
  }
}

/* -------------------------------
   1.0 General
------------------------------- */

/* 1.1 General: Reset */
body, .page-wrapper {
	width: 100%;
	overflow-x: hidden;
}

/* -------------------------------
   2.0 Page Structure
------------------------------- */

/* 2.1 Page: Container */

@media (max-width: 991px) {
	.container {
		padding-left: 24px;
		padding-right: 24px;
	}
}
@media (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* 2.2 Page: Navbar */

.page-navbar {
	height: 96px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1002;
	width: 100%;
	padding: 10px 0;
}
@media (min-width: 768px) {
	.page-navbar {
		-webkit-transition: background .5s, padding .1s;
		-moz-transition: background .5s, padding .1s;
		-o-transition: background .5s, padding .1s;
		transition: background .5s, padding .1s;
	}
}
@media (max-width: 767px) {
	.page-navbar {
		-webkit-transition: -webkit-transform .5s .5s, background .5s, padding .1s;
		-moz-transition: -moz-transform .5s .5s, background .5s, padding .1s;
		-o-transition: -o-transform .5s .5s, background .5s, padding .1s;
		transition: transform .5s .5s, background .5s,  padding .1s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.page-navbar .container {
		padding: 0 10px;
	}
	.page-navbar .navbar-header {
		position: relative;
		z-index: 2;
		padding: 0 0 0 36px;
		margin: 0;
		text-align: center;
	}
}

/* 2.2.1 Navbar: Brand */

.navbar-brand {
	height: 58px;
	width: 167px;
	background-size: cover;
}
@media (max-width: 767px) {
	.navbar-header .navbar-brand {
		display: inline-block;
		float: none;
		height: 52px;
		width: 152px;
	}
	.navbar-open .navbar-toggle span {
		background-color: #1e88e5;
	}
	.navbar-brand {
		margin: -3px 0 -11px;
	}
}

/* 2.2.2 Navbar: Toggle */

.navbar-toggle {
	position: absolute;
	z-index: 10;
	left: 10px;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-open.navbar-closing .navbar-toggle .icon-bar {
	-webkit-transition-delay: .6s;
	transition-delay: .6s;
	background-color: #fff;
}

/* 2.2.3 Navbar: Container */

@media (min-width: 767px) {
	.navbar-container {
		float: right;
	}
}
@media (max-width: 767px) {
	.navbar-container {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding-top: 25px;
		background-color: transparent;
		-webkit-transition: linear background .15s;
		transition: linear background .15s;
		visibility: hidden;
		overflow-y: auto;
	}
	.navbar-open .navbar-container {
		z-index: 3;
		background-color: rgba(255,255,255,0.95);
		visibility: visible;
	}
	.navbar-open.navbar-bgfade .navbar-container {
		background-color: transparent;
	}
}

/* 2.2.4 Navbar: Main */

.navbar-main > li > a {
	padding: 15px 24px;
	color: rgba(196, 227, 255, 0.8);
	font-size: 16px;
	font-weight: 500;
	-webkit-transition: ease-in color .15s;
	transition: ease-in color .15s;
}
.navbar-main > li.active > a,
.navbar-main > li.open > a,
.navbar-main > li:hover > a,
.navbar-main > li:focus > a {
	color: #fff;
	text-decoration: none;
}
.navbar-open .navbar-main > li.active > a,
.navbar-open .navbar-main > li:hover > a,
.navbar-open .navbar-main > li:focus > a {
	color: #1e88e5;
}
.page-navbar .navbar-buttons > li > a {
	font-size: 14px;
}
@media (max-width: 1199px) {
	.navbar-main > li > a {
		padding-left: 16px;
		padding-right: 16px;
	}
}
@media (min-width: 768px) {
	.navbar-main > li:first-child {
		display: none;
	}
}
@media (max-width: 991px) {
	.navbar-main > li > a {
		padding-left: 16px;
		padding-right: 16px;
	}
	.navbar-main .btn {
		min-width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 767px) {
	.page-navbar .nav {
		margin: 0 0 30px 0;
	}
	.page-navbar .nav > li {
		position: relative;
		padding-left: 65px;
		padding-right: 65px;
	}
	.navbar-main > li > a {
		color: #363b40;
		text-align: center;
	}
	.page-navbar .navbar-buttons,
	.page-navbar .navbar-main > li,
	.navbar-open.navbar-closing .page-navbar .navbar-buttons,
	.navbar-open.navbar-closing .page-navbar .navbar-main > li {
		-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		-webkit-transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
		transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
	}
	.navbar-open .page-navbar .nav > li,
	.navbar-open .page-navbar .navbar-buttons  {
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
		transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.navbar-open.navbar-closing .page-navbar .navbar-buttons,
	.navbar-open .navbar-main > li:first-child {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	}
	.navbar-open.navbar-closing .navbar-main > li:nth-child(5),
	.navbar-open .navbar-main > li:nth-child(2) {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}
	.navbar-open.navbar-closing .navbar-main > li:nth-child(4),
	.navbar-open .navbar-main > li:nth-child(3) {
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
	}
	.navbar-open.navbar-closing .navbar-main > li:nth-child(3),
	.navbar-open .navbar-main > li:nth-child(4) {
		-webkit-transition-delay: .2s;
		transition-delay: .2s;
	}
	.navbar-open.navbar-closing .navbar-main > li:nth-child(2),
	.navbar-open .navbar-main > li:nth-child(5) {
		-webkit-transition-delay: .25s;
		transition-delay: .25s;
	}
	.navbar-open.navbar-closing .navbar-main > li:first-child,
	.navbar-open .page-navbar .navbar-buttons {
		-webkit-transition-delay: .3s;
		transition-delay: .3s;
	}
}


/* 2.2.5 Navbar: Buttons */

.navbar-buttons {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
}
.navbar-buttons > li {
	float: left;
	margin-left: 15px;
}
.navbar-login {
	float: right;
}
.navbar-login.btn.btn-icon > i {
	font-size: 28px;
	color: #fff;
}
@media (min-width: 768px) {
	.navbar-login {
		display: none;
	}
}
@media (max-width: 767px) {
	.navbar-buttons {
		float: none;
		padding: 0;
	}
	.page-navbar .navbar-buttons > li {
		width: 50%;
		padding: 0 8px;
		margin: 0;
	}
	.page-navbar .navbar-buttons > li:first-child {
		padding: 0 8px 0 65px;
	}
	.page-navbar .navbar-buttons > li:last-child {
		padding: 0 65px 0 8px;
	}
	.page-navbar .navbar-buttons > li .btn {
		display: block;
		width: 100%;
		min-width: 0;
	}
	.page-navbar .navbar-buttons > li .btn-outline {
		border-color: #1e88e5;
		color: #1e88e5;
	}
	.page-navbar .navbar-buttons > li .btn-dark {
		border-color: #1e88e5;
		background-color: #1e88e5;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-buttons li:last-child {
		display: none;
	}
}

/* 2.2.6 Page Navbar: Dropdown */

.page-navbar .navbar-main > li .dropdown-menu {
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.page-navbar .navbar-main > li .dropdown-menu:before {
	display: none;
}
@media (min-width: 768px) {
	html:not(.mobile) .page-navbar .navbar-main > li:hover .dropdown-menu,
	html:not(.mobile) .page-navbar .navbar-main > li.open .dropdown-menu {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
	}
}
@media (max-width: 767px) {
	.page-navbar .navbar-main > li .dropdown-menu {
		width: 100%;
		min-width: 0;
		padding: 0;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: none;
		transition: none;
		-webkit-transform: translateX(0px) translateY(0);
		transform: translateX(0px) translateY(0);
	}
	.page-navbar .navbar-main > li .dropdown-menu:after {
		display: none;
	}
	.page-navbar .navbar-main > li.open .dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
	.page-navbar .navbar-main > li .dropdown-menu > li {
		text-align: center;
	}
	.page-navbar .navbar-main > li .dropdown-menu > li > a {
		-webkit-transition: none;
		transition: none;
	}
}


/* 2.2.7 Page Navbar: Fixed */

.page-navbar.navbar-fixed {
	position: fixed;
	height: 76px;
	padding: 13px 0;
	background: #026FCE;
	background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -ms-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -moz-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -o-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -webkit-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	-webkit-box-shadow: 0 0 40px rgba(37,45,51, .5);
	box-shadow: 0 0 40px rgba(37,45,51, .5);
	-webkit-transition: top .1s, background .1s, padding .1s;
	transition: top .1s, background .1s, padding .1s;
}
.page-navbar.navbar-fixed.navbar-hidden {
	top: -76px;
	opacity: 0;
}
.page-navbar.navbar-fixed.navbar-visible {
	top: 0;
	opacity: 1;
}


/* 2.3 Page: BANNER */

.page-banner {
	position: relative;
	padding: 65px 0 10px;
	color: #fff;
}
.page-banner:after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: block;
	content: "";
	width: 100%;
	min-width: 700px;
	background: #026FCE;
	background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -ms-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -moz-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -o-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -webkit-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
}
.page-banner .container {
	height: 100%;
	position: relative;
	z-index: 999;
}
@media (max-width: 991px) {
	.page-banner {
		padding-top: 95px;
		padding-bottom: 60px;
	}
}
@media (max-width: 767px) {
	.page-banner.page-banner-home {
		padding-bottom: 35px;
	}
}
@media (max-width: 626px) {
	.page-banner {
		padding-top: 80px;
	}
}

/* 2.3.1 Banner: Slogan */

.banner-slogan:after {
	display: block;
	content: "";
	clear: both;
}
.banner-slogan .banner-search {
	float: none;
	width: auto;
	max-width: 610px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}
.banner-slogan .actions {
	padding-bottom: 0;
}
.slogan-title {
	max-width: 610px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-weight: 600;
}
.slogan-desc {
	max-width: 700px;
	margin: 15px auto 25px auto;
	color: rgba(196, 227, 255, 0.8);
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	text-transform: none;
	text-align: center;
}
.slogan-desc a {
	color: #fff;
}
@media (max-width: 991px) {
	.slogan-desc {
		line-height: 28px;
	}
}
@media (max-width: 767px) {
	.banner-slogan .actions {
		padding-bottom: 0;
	}
	.slogan-title,
	.slogan-desc {
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* 2.3.2 Banner: Hero */

.banner-slogan-hero {
	padding: 5px 0 25px 0;
}
@media (max-width: 991px) {
	.banner-slogan-hero {
		padding: 25px 0 45px 0;
	}
}
@media (max-width: 767px) {
	.banner-slogan-hero {
		padding: 0;
	}
}

/* 2.3.3 Banner: Search */

.banner-search .btn > i {
	color: rgba(196, 227, 255, 0.6);
}
@media (min-width: 768px) {
	.banner-search {
		float: right;
		width: 350px;
		padding: 34px 0 0 0;
	}
}

/* 2.3.4 Banner: Image */

.banner-image {
	position: relative;
	margin: 45px 0 0 0;
	text-align: right;
}
.banner-image .image {
	display: inline-block;
}
@media (max-width: 991px) {
	.banner-image {
		margin-top: 85px;
	}
}

/* 2.3.5 Banner: Tabs */

.banner-tabs {
	margin-top: 20px;
	text-align: left;
}
.banner-tabs .nav-tabs {
	padding: 0;
	margin: 0 -24px;
	border: none;
}
.banner-tabs .nav-tabs:after {
	display: block;
	content: "";
	clear: both;
}
.banner-tabs .nav-tabs > li > a,
.banner-tabs .nav-tabs > li > span {
	display: block;
	height: 100%;
	padding: 30px 12px;
	margin: 0 12px;
	color: rgba(196, 227, 255, 0.6);
	font-size: 16px;
	line-height: 18px;
	white-space: normal;
	text-transform: capitalize;
}
.banner-tabs .nav-tabs > li > a:hover {
	color: #fff;
}
.banner-tabs .nav-tabs > li > a,
.banner-tabs .nav-tabs > li > span {
	position: relative;
	font-weight: 500;
}
.banner-tabs .nav-tabs > li.active > a,
.banner-tabs .nav-tabs > li.active > span {
	color: #fff;
}
.banner-tabs .nav-tabs > li.active > span:after,
.banner-tabs .nav-tabs > li.active > a:after {
	position: absolute;
	left: 50%;
	bottom: 0;
	display: block;
	height: 16px;
	width: 26px;
	margin-left: -13px;
	background: transparent;
	content: "\f2f8";
	color: #fff;
	font-family: 'Material-Design-Iconic-Font';
	font-size: 49px;
	line-height: 26px;
	text-align: center;
}
.banner-tabs .nav-tabs > li .badge {
	margin-left: 10px;
	background-color: rgba(196, 227, 255, 0.2);
	color: rgba(196, 227, 255, 0.6);
}
.banner-tabs .nav-tabs > li.active .badge {
	background-color: #fff;
	color: #1e88e5;
}

.banner-tabs.tabs-responsive {
	height: 78px;
}
.banner-tabs.tabs-responsive .nav-tabs {
	height: 96px;
}
.banner-tabs.tabs-responsive .btn {
	top: 14px;
	color: rgba(196, 227, 255, 0.6);
	font-size: 24px;
}
@media (max-width: 1199px) {
	.banner-tabs .nav-tabs > li > a {
		padding-left: 4px;
		padding-right: 4px;
	}
	.banner-tabs .nav-tabs {
		padding: 0;
		margin: 0 -16px;
	}
}

/* 2.4.7 Banner: Home */

.page-banner-home:after {
	/* height: 350px; */
}
.page-banner-home .slogan-desc {
	font-size: 20px;
}
.page-banner-home .banner-slogan,
.page-banner-center {
	text-align: center;
}
.page-banner-home .slogan-title {
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
}
.page-banner-home .banner-image {
	margin: 35px 0 0 0;
}
@media (min-width: 768px) {
	.page-banner-home {
		padding-bottom: 0;
	}
}
@media (max-width: 767px) {
	.page-banner-home {
		position: relative;
	}
	.page-banner-home:after {
		height: 100%;
	}
	.banner-image {
		display: none;
	}
	.page-banner-home .slogan-desc {
		display: none;
	}
}

/* 2.3.8 Banner: Subpage */

@media (min-width: 992px) {
	.page-banner-subpage .banner-image {
		padding-right: 80px;
	}
}
@media (max-width: 991px) {
	.page-banner-subpage .slogan-title {
		font-size: 30px;
		line-height: 38px;
	}
	.page-banner-subpage .banner-image {
		padding-right: 30px;
	}
}
@media (max-width: 767px) {
	.page-banner-subpage {
		text-align: center;
	}
}

.error-404 {
	color: #fff;
	font-size: 280px;
	font-weight: bold;
}

/* 2.5 Page: MAIN */

.page-main.container {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}
@media (max-width: 767px) {
	.page-main.container {
		padding: 20px 0;
	}
}

/* 2.5.2 Main: Sidebar */

.main-sidebar {
	width: 230px;
}
.main-sidebar .nav-sidebar {
	width: 230px;
	margin: 0;
}
.main-sidebar .sidebar-row .nav > li > a {
	padding-left: 0;
	padding-right: 0;
}
.main-sidebar .sidebar-tags .nav > li > a {
	position: relative;
	padding-right: 40px;
	word-break: break-all;
}
.main-sidebar .sidebar-tags .nav > li > a .badge {
	position: absolute;
	top: 2px;
	right: 0;
}
@media (min-width: 768px) {
	.main-sidebar,
	.main-sidebar .nav-sidebar {
		width: 230px;
	}
	.main-sidebar .sidebar-row {
		margin-bottom: 25px;
	}
	.main-sidebar-left:after {
		left: 240px;
	}
	.main-sidebar-right:after {
		right: 240px;
	}
	.main-sidebar-left {
		float: left;
	}
	.main-sidebar-right {
		float: right;
	}
	.main-sidebar .nav.affix {
		position: fixed!important;
		top: 0;
		max-height: 100%;
		padding: 70px 0 0 0;
		margin: 0;
		overflow-x: auto;
		overflow-y: visible;
		-webkit-transition: padding-top .1s;
	}
	.main-sidebar-floating-nav .nav.affix {
		padding-top: 110px;
	}
}
@media (max-width: 767px) {
	.main-sidebar {
		width: auto;
		padding: 0 20px 48px 20px;
		margin: 0 0 28px 0;
		border-bottom: 1px solid #edf0f2;
	}
	.sidebar-tags,
	.main-sidebar:after {
		display: none;
	}
	.main-sidebar .nav .affix {
		position: inherit;
	}
}

/* 2.5.3 Main: Content */

.main-content-center {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px
}
.main-content-center-sm {
	max-width: 700px;
}
.main-content:after {
	display: block;
	content: "";
	clear: both;
}
.content-row {
	position: relative;
	padding-bottom: 35px;
	margin-bottom: 50px;
	border-bottom: 1px solid #edf0f2;
}
.content-row:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
@media (min-width: 768px) {
	.main-content-right {
		margin-left: 250px;
	}
	.main-content-left {
		float: left;
		width: 100%;
		margin-right: -280px;
		padding-right: 280px;
	}
}
@media (max-width: 767px) {
	.content-row {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-content-right .content-row {
		padding-left: 20px;
	}
}

/* 2.6 Page: Footer */

.page-footer {
	padding: 60px 0 0;
}
.page-footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.page-footer ul > li > a {
	color: #616366;
}
.page-footer ul > li > a:hover {
	color: #1e88e5;
}

/* 2.6.1 Footer: Nav */

.footer-nav ul li {
	margin: 0 0 10px 0;
}
.footer-nav {
	margin: 0 0 35px 0;
	padding: 0 0 60px 0;
	border-bottom: 1px solid #edeff2;
}
@media (max-width: 767px) {
	.footer-nav {
		display: none;
	}
}

/* 2.6.2 Footer: Bottom */

.footer-bottom {
	padding: 0 0 35px 0;
}
.footer-bottom .nav li {
	display: inline-block;
	margin: 0;
}
.footer-bottom .nav li a {
	display: block;
	padding: 8px 16px;
	line-height: 24px;
}
.footer-bottom .social li {
	display: inline-block;
	margin-left: 13px;
}
.footer-bottom .social li > a > i {
	font-size: 19px;
	line-height: 24px;
	vertical-align: initial;
}
.footer-copyright {
	margin: 0;
	line-height: 20px;
}
.footer-copyright small {
	display: block;
	padding-top: 5px;
	color: #8a9399;
	font-size: 13px;
}
.footer-bottom ul {
	display: inline-block;
}

@media (max-width: 1199px) {
	.footer-bottom {
		text-align: center;
	}
	.footer-bottom ul {
		display: block;
	}
	.footer-bottom .social {
		padding: 10px 0 16px;
	}
	.footer-bottom .nav li a {
		padding: 0 16px 0;
	}
}


/* -------------------------------
   3.0 Page Sections
------------------------------- */

/* 3.1 Section: General */

.page-section {
	padding-top: 48px;
	padding-bottom: 55px;
	border-bottom: 1px solid #edeff2;
}
.page-section:last-child {
	border: none;
}
.section-row {
	padding-bottom: 55px;
	margin-bottom: 48px;
	border-bottom: 1px solid #edf0f2;
}
.section-row:after,
.section-row:before {
	display: table;
	content: "";
	clear: both;
}
.section-row:first-child {
	padding-top: 0;
}
.section-row:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}
.section-title {
	margin-left: auto;
	margin-right: auto;
}
.section-desc {
	margin-top: -4px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 28px;
}
.section-center .section-desc,
.section-center .section-title {
	max-width: 700px;
}
.section-center,
.section-center .actions {
	text-align: center;
}
.section-image .image {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.section-image .image:after,
.section-image .image:before {
	display: table;
	content: "";
	clear: both;
}
.image span {
	display: block;
}
.section-image .image span {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@media (min-width: 768px) {
	.section-center .section-desc,
	.section-center .section-title {
		text-align: center;
	}
}
@media (max-width: 767px) {
	.section-image {
		padding-top: 30px;
	}
}

/* 3.2 Section: Dark */

.section-dark {
	border: none;
	background: #303C46;
	background: linear-gradient(225deg, #39444d , #22292e 88%);
	background-image: -ms-linear-gradient(225deg, #39444d , #22292e 88%);
	background-image: -moz-linear-gradient(225deg, #39444d , #22292e 88%);
	background-image: -o-linear-gradient(225deg, #39444d , #22292e 88%);
	background-image: -webkit-linear-gradient(225deg, #39444d , #22292e 88%);
	background-image: linear-gradient(225deg, #39444d , #22292e 88%);
}

/* 3.3 Section: Blue */

.section-blue {
	position: relative;
	border: none;
	overflow: hidden;
}
.section-blue .container {
	position: relative;
	z-index: 1;
}
.section-blue:before {
	position:absolute;
	top: 0;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	min-width: 700px;
	border: none;
	background: #026FCE;
	background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -ms-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -moz-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -o-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -webkit-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
}
.section-dark .section-title,
.section-blue .section-title {
	color: #fff;
}
.section-blue .section-desc ,
.section-blue p {
	color: rgba(196, 227, 255, 0.8);
}
.section-dark .section-desc {
	color: rgba(255, 255, 255, 0.6);
}
.section-blue .panel,
.section-dark .panel {
	border: none;
	-webkit-box-shadow: 0 5px 20px -5px rgba(11,27,38, 0.2);
	box-shadow: 0 5px 20px -5px rgba(11,27,38, 0.2);
}

/* 3.5 Section: Gallery */

.section-gallery {
	padding: 0!important;
}
.section-gallery .row {
	margin-left: 0;
	margin-right: 0;
}
.section-gallery .row > [class*="col-"] {
	padding-left: 0;
	padding-right: 0;
}
.section-gallery img {
	height: auto;
	max-width: 100%;
	opacity: 0.3;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
.section-gallery img:hover {
	opacity: 0.8;
}
@media (min-width: 992px) {
	.page-section.section-hero {
		padding-top: 68px;
		padding-bottom: 75px;
	}
}
@media (max-width: 991px) {
	.page-section {
		padding-top: 25px;
		padding-bottom: 35px;
	}
	.section-row {
		padding-bottom: 35px;
		margin-bottom: 30px;
	}
}
@media (max-width: 626px) {
	.section-desc,
	.section-title {
		max-width: 100%;
	}
}

/* 3.7 Section: Features */

.features-center {
	text-align: center;
}
.feature {
	padding-top: 20px;
	margin-bottom: 20px;
}
.feature h4,
.feature .h4 {
	margin-top: 0;
}
.feature p {
	margin-bottom: 0;
	line-height: 24px;
}

/* 3.7.2 Features: Icon */

.feature > i {
	margin-top: 20px;
	margin-bottom: 14px;
	font-size: 50px;
}

/* 3.10 Section: Post */

.post {
	position: relative;
	width: 100%;
	padding: 0 0 0 78px;
	margin-bottom: 54px;
	border-bottom: 1px solid #edf0f2;
}
.post.last,
.post:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
@media (max-width: 767px) {
	.post {
		padding: 0 20px;
	}
	.post-header {
		padding-left: 70px;
	}
}

/* 3.10.2 Post: Content */

.post-content,
.press-content {
	padding: 22px 0 54px 0;
}
.post-content p  {
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 28px;
}
.post-content p:last-child {
	margin-bottom: 0;
}
.post-content p img {
	max-width: 100%;
	height: auto;
}
.post-closed .post-title a {
	color: #616366;
}
.post-title {
	margin: 0 0 8px 0;
}
.post-title .label {
	margin-right: 8px;
}

/* 3.10.4 Post: Info */

.post-info {
	width: auto;
	margin: 0 -8px;
	padding: 0;
	list-style: none;
}
.post-info:after,
.post-info:before {
	display: block;
	content: "";
	clear: both;
}
.post-info > li {
	float: left;
	padding: 0 8px;
	color: #919499;
	font-size: 13px;
}
.post-info > .post-date {
	float: right;
}
.post-info i {
	margin-left: 5px;
	font-size: 14px;
}
@media (max-width: 767px) {
	.post-info > .post-date {
		float: left;
		width: 100%;
	}
}

/* 3.10.5 Post: Comments */

.post-comments {
	float: left;
	width: 100%;
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
}
.post-comment-title {
	margin-top: 0;
}
.posts-comments:after,
.posts-comments:before {
	display: block;
	content: "";
	clear: both;
}
.post-comments > li {
	border-top: 1px solid #edf0f2;
}
.comment {
	position: relative;
	padding: 24px 0 24px 72px;
}
.comment-avatar {
	position: absolute;
	top: 24px;
	left: 0;
}
.comment-header {
	margin-bottom: 17px;
}
.comment-author {
	display: block;
	color: #363b40;
	font-weight: bold;
	line-height: 22px;
}
.comment-date {
	color: #919499;
	font-size: 13px;
	line-height: 18px;
}
.comment-body p:last-child {
	margin: 0;
}
@media (max-width: 767px) {
	.comment {
		padding-right: 20px;
		padding-left: 20px;
	}
	.comment-avatar {
		left: 20px;
	}
	.comment-header {
		padding-left: 64px;
	}
	.post-comment-title {
		padding: 0 20px;
	}
}

/* 3.10.7 Post: Reply */
.post-reply {
	position: relative;
	padding: 30px 0 0 72px;
	border-top: 1px solid #edf0f2;
}
.reply-avatar {
	position: absolute;
	top: 20px;
	left: 0;
}
.post-navigation {
	display: block;
	text-align: center;
}
.post-reply textarea {
	resize: vertical;
}
@media (max-width: 767px) {
	.post-reply {
		padding-right: 20px;
	}
	.post-reply-title {
		padding: 0 20px;
	}
}

/* 3.12 Section: Register */
.banner-search .form-control {
	width: 100%;
	border: none;
	background-color: rgba(0,0,0, 0.2);
	color: #fff;
}
.banner-search .form-control:focus {
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0, 0.11) inset;
	box-shadow: 0 2px 6px rgba(0,0,0, 0.11) inset;
}
.banner-search .form-control::-webkit-input-placeholder {
	color: rgba(196, 227, 255, 0.8);
}
.banner-search .form-control:-moz-placeholder {
	color: rgba(196, 227, 255, 0.8);
}
.banner-search .form-control::-moz-placeholder {
	color: rgba(196, 227, 255, 0.8);
}
.banner-search .form-control:-ms-input-placeholder {
	color: rgba(196, 227, 255, 0.8);
}

/* doc */

.service > img {
	width : 100%;
}

.play {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
	cursor: pointer;
	background: #026FCE;
	background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -ms-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -moz-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -o-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: -webkit-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	background-image: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.animated .play {
	opacity: 0;
	visibility: hidden;
}

/*-----------------------------------------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------------------------------------*/
.social {
	margin-bottom: 40px;
	text-align: center;
	padding: 0;
}
#footer .social {
	margin: 0;
	text-align: left;
}
.social li {
	display: inline;
	margin: 0 2px;
}
.social .uk-icon-button {
	height: 30px;
	width: 30px;
	position: relative;
	-webkit-transition: none 200ms ease-in;
	-o-transition: none 200ms ease-in;
	-moz-transition: none 200ms ease-in;
}

/* For safari */
input[type=file] {
	height: auto;
	padding: 15px 16px;
}

input[type=text]:focus, input[type=file]:focus, input[type=password]:focus,
input[type=email]:focus, select:focus {
	border-color: #1E88E5;
}

input[type=text][readonly], input[type=file][readonly], input[type=password][readonly],
input[type=email][readonly], input[type=text][readonly], input[type=text]:disabled,
input[type=file]:disabled, input[type=password]:disabled, input[type=email]:disabled,
input[type=text]:disabled {
	background-color: #EEEEEE;
}

input[type=submit], input[type=button], .button, a.button {
	display: inline-block;
	vertical-align: middle;
	padding: 12px 24px;
	margin: 3px 0;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	color: #ffffff;
	background-color: #1e88e5;
	border-radius: 3px;
	border: none;
	-webkit-appearance: none;
}

a.button {
	padding: 13px 24px;
}

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active,
input[type=button]:hover, input[type=button]:focus, input[type=button]:active,
.button:hover, .button:focus, .button:active {
	background-color: #3ba3ff;
}

input[type=submit]:disabled, input[type=button]:disabled {
	background-color: #EEEEEE;
	color: #aaaaaa;
}

.btn-block {
	display: block;
	width: 100%;
}

input[type=submit].btn-light, input[type=button].btn-light, .btn-light,
a.btn-light {
	background-color: #3ba3ff;
}

input[type=submit].btn-light:hover, input[type=submit].btn-light:focus,
input[type=submit].btn-light:active, input[type=button].btn-light:hover,
input[type=button].btn-light:focus, input[type=button].btn-light:active,
.btn-light:hover, .btn-light:focus, .btn-light:active, a.btn-light:hover,
a.btn-light:focus, a.btn-light:active {
	background-color: #54aaff;
}

input[type=submit].btn-danger, input[type=button].btn-danger,
.btn-danger, a.btn-danger {
	background-color: #C12E2A;
}

input[type=submit].btn-danger:hover, input[type=submit].btn-danger:focus,
input[type=submit].btn-danger:active, input[type=button].btn-danger:hover,
input[type=button].btn-danger:focus, input[type=button].btn-danger:active,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, a.btn-danger:hover,
a.btn-danger:focus, a.btn-danger:active {
	background-color: #D13632;
}

input[type=submit].btn-warning, input[type=button].btn-warning,
.btn-warning, a.btn-warning {
	background-color: #EB9316;
}

input[type=submit].btn-warning:hover, input[type=submit].btn-warning:focus,
input[type=submit].btn-warning:active, input[type=button].btn-warning:hover,
input[type=button].btn-warning:focus, input[type=button].btn-warning:active,
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, a.btn-warning:hover,
a.btn-warning:focus, a.btn-warning:active {
	background-color: #FFA92D;
}

input[type=submit].btn_small, input[type=button].btn_small, .btn_small {
	padding: 9px 10px;
	font-size: 12px;
	line-height: 19px;
}

input[type=submit].btn-outline, input[type=button].btn-outline,
.btn-outline, a.btn-outline {
	background-color: transparent;
	border: 1px solid #e6e9eb;
	color: #616366;
}

input[type=submit].btn-outline:hover, input[type=submit].btn-outline:focus,
input[type=submit].btn-outline:active, input[type=button].btn-outline:hover,
input[type=button].btn-outline:focus, input[type=button].btn-outline:active,
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, a.btn-outline:hover,
a.btn-outline:focus, a.btn-outline:active {
	background-color: transparent;
	border-color: #1e88e5;
	color: #616366;
}

@keyframes pulse {
	from {
		transform:scale3d(1, 1, 1);
	}
	50% {
		transform:scale3d(1.5, 1.5, 1.5);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}

/* Comment */
.comment-entries > .from_staff, .comment-entries > .from_account {
	position: relative;
	border-radius: 4px;
	padding: 18px;
	margin: 12px 0px;
}

.comment-entries > div .comment-clear {
	clear: both;
}

.comment-entries .from_staff {
	background-color: #e5f5e6;
}

.comment-entries .from_account {
	background-color: #e5f4ff;
}

#CommentCtrl .comment-avatar {
	position: relative;
	float: left;
	margin: 5px 10px 5px 0;
	border-radius: 25px;
	width: 50px;
	top: 0px;
}

.comment-entries > div .comment-avatar {
	position: relative;
	float: left;
	border-radius: 4px;
	width: 50px;
	top: 0px;
}

.comment-entries > div .comment-container {
	position: relative;
	float: left;
	left: 18px;
	top: -3px;
}

.comment-entries > div .comment-name {
	color: #363b40;
	font-weight: bold;
}

.comment-entries > div .comment-agent {
	top: 20px;
	right: 84px;
	font-size: 13px;
	opacity: .8;
}

.comment-entries > div .comment-reply {
	position: absolute;
	top: 20px;
	right: 145px;
	font-size: 13px;
	color: #FD482C;
	cursor: pointer;
}

.comment-entries > div .comment-time {
	position: absolute;
	top: 20px;
	right: 24px;
	font-size: 13px;
	opacity: .8;
}

.badge.ticket_staff {
	border-radius: 3px;
	background-color: #2fbd6a;
	font-size: 11px;
}

/* bootstrap effects */
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

/* accordion */
.accordion {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	list-style: none;
}

.accordion>li {
	position: relative;
	padding: 0 0 6px 30px;
	min-height: 40px;
}

.accordion>li.open {
	padding-bottom: 31px;
}

.accordion>li .plus-icon {
	position: absolute;
	left: 0;
	top: 6px;
}

.accordion>li.open .plus-icon span {
	background-color: #1e88e5;
}

.accordion>li.open .plus-icon span:last-child {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.plus-icon {
	position: relative;
	display: block;
	height: 12px;
	width: 12px;
}

.plus-icon span {
	position: absolute;
	display: block;
	background-color: #1e88e5;
	-webkit-transition: all ease-in .15s;
	transition: all ease-in .15s;
}

.plus-icon span:first-child {
	top: 5px;
	height: 2px;
	width: 12px;
}

.plus-icon span:last-child {
	left: 5px;
	height: 12px;
	width: 2px;
}

.accordion.nowrap .acc-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

/* badges */
.badge {
	background-color: #aaaeb3;
	border-radius: 15px;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: 300;
	line-height: 8px;
	min-width: 16px;
	padding: 5px 6px;
	text-align: center;
	vertical-align: text-bottom;
	white-space: nowrap;
}

/* badges */
.badge.alternative {
	border-radius: 3px;
}

/* tab control */
.button-tab {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	width: 46px;
	margin: 0px;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #000000;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 0px;
}

.button-tab:active, .button-tab:hover, .button-tab:focus {
	background-color: transparent;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav>li {
	position: relative;
	display: block;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 12px 15px;
}

.nav>li.disabled>a {
	color: #777;
}

.nav>li.disabled>a:hover, .nav>li.disabled>a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.nav>li>a>img {
	max-width: none;
}

.nav-tabs {
	margin: 0 -16px;
	border-bottom: 1px solid #edf0f2;
	white-space: nowrap;
}

.nav-tabs>li {
	display: inline-block;
}

.nav-tabs>li>a, .nav-tabs>li>button, .nav-tabs>li>span {
	position: relative;
	padding: 14px 2px;
	margin: 0 14px;
	color: #616366;
	line-height: 20px;
	-webkit-transition: color ease-in .15s;
	transition: color ease-in .15s;
}

.nav-tabs>li>button {
	background: transparent;
	border: none;
	cursor: pointer;
}

.nav-tabs>li>a:after, .nav-tabs>li>button:after, .nav-tabs>li>span:after
{
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	content: "";
	height: 2px;
	width: 0;
	-webkit-transition: ease-in all .15s;
	transition: ease-in all .15s;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:active, .nav-tabs>li>button:hover {
	color: #1e88e5;
}

.nav-tabs>li>button:focus, .nav-tabs>li>button:active {
	outline: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
.nav-tabs>li.active>button, .nav-tabs>li.active>button:hover, .nav-tabs>li.active>button:focus,
.nav-tabs>li.active>span {
	color: #1e88e5;
	cursor: default;
}

.nav-tabs>li.active>a:after, .nav-tabs>li.active>button:after, .nav-tabs>li.active>button:after,
.nav-tabs>li.active>span:after {
	width: 100%;
	margin-left: -50%;
	background-color: #1e88e5;
}

@media ( max-width : 767px) {
	.nav-tabs {
		margin: 0 -12px;
	}
}

.nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0;
}

.nav-tabs.nav-justified>li {
	float: none;
}

.nav-tabs.nav-justified>li>a {
	margin-bottom: 5px;
	text-align: center;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto;
}

@media ( min-width : 768px) {
	.nav-tabs.nav-justified>li {
		display: table-cell;
		width: 1%;
	}
	.nav-tabs.nav-justified>li>a {
		margin-bottom: 0;
	}
}

.nav-tabs.nav-justified>li>a {
	margin-right: 0;
	border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
	border: 1px solid #edeff2;
}

@media ( min-width : 768px) {
	.nav-tabs.nav-justified>li>a {
		border-bottom: 1px solid #edeff2;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover,
	.nav-tabs.nav-justified>.active>a:focus {
		border-bottom-color: #fff;
	}
}

.tabs-responsive {
	position: relative;
	height: 48px;
	overflow: hidden;
}

.tabs-responsive>.tabs-container {
	position: absolute;
	top: 0;
	width: 100%;
}

.tabs-responsive>.tabs-container>.btn {
	position: absolute;
	top: -1px;
}

.tabs-responsive>.tabs-container>.btn-next {
	right: -1px;
	width: 30px;
	padding: 12px 0px;
	text-align: right;
}

.tabs-responsive>.tabs-container>.btn-prev {
	left: 0px;
	width: 30px;
	padding: 12px 0px;
	text-align: left;
}

.tabs-responsive>.tabs-container>.nav-tabs {
	height: 76px;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	-webkit-transition: all ease-in .15s;
	transition: all ease-in .15s;
}

.tabs-responsive>.tabs-container>ul>li {
	float: none;
	display: inline-block;
	width: auto;
}

@media ( min-width : 1170px) {
	.tabs-responsive>.tabs-container>.btn {
		display: none;
	}
}

@media ( max-width : 1171px) {
	.tabs-responsive>.tabs-container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.hidden {
	display: none;
}

/* Upstream changes */
.btn-lg { overflow: hidden; }

.actions.multi > a.btn  { margin: 0px 8px 8px 0px; }
.actions.multi > .btn + .btn:not(.btn-block) { margin: 0px 8px 8px 0px; }

@media (max-width: 299px) {
	.navbar-header .navbar-login {
		display: none;
	}
}

select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 30px 50px;
	cursor: pointer;
}

/* News */
.post > .post-avatar { display: none; }

@media (max-width: 767px)
{
	.post-header {
		padding-left: 0px;
	}
}

@media (min-width: 768px)
{
	.post { padding-left: 0px; }
}

/* FAQ */
@media (min-width: 768px)
{
	.vat_table { max-width: 50%; }
}

/* API */
.nav-responsive > ul > li.dropdown.header { margin-top: 8px; margin-bottom: 8px; }
@media (max-width: 767px)
{
	.nav-responsive > ul > li.dropdown.header { padding-left: 24px; }
}

pre code { white-space: pre; }

@media (min-width: 768px) {
	.banner-search {
		width: 450px;
	}
}

/* Docs article */
.doc_header        { border-bottom: 1px solid #edf0f2; margin-bottom: 16px; padding: 0 0 6px 0; }
.doc_footer > div  { font-size: 14px; font-style: italic; margin-top: 24px; padding: 0; }

/* Error pages */
.error-404sm {
	font-weight: bold;
	font-size: 64px;
}

@media (max-width: 767px) {
	.error-404 {
		display: none;
	}
}

@media (min-width: 768px) {
	.error-404sm {
		display: none;
	}
}