* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    background-color: transparent;
    -webkit-transition: all ease-in .15s;
    transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -ms-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
}

a:active, a:hover {
    outline: 0;
}

a, a:link, a:visited, a:active, a:hover {
    color: #0084df;
    text-decoration: none;
}

a, .link {
    color: #1e88e5;
}

a:hover, a:focus, .link:hover, .link:focus {
    color: #3ba3ff;
    text-decoration: none;
}

body {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft Yahei", monospace;
    font-weight: 500;
}

html {
    font-family: "Microsoft Yahei", monospace;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}