* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

b, strong {
    font-weight: bold;
}

audio:not ([controls] ) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
    -webkit-transition: all ease-in .15s;
    transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -ms-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
}

a:active, a:hover {
    outline: 0;
}

a, a:link, a:visited, a:active, a:hover {
    color: #0084df;
    text-decoration: none;
}

a, .link {
    color: #1e88e5;
}

a:hover, a:focus, .link:hover, .link:focus {
    color: #3ba3ff;
    text-decoration: none;
}

body {
    margin: 0;
    color: #616366;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    backgroud-color: #e5f5e6;
}

button {
    overflow: visible;
    text-transform: none;
    margin-bottom: 10px;
    font: inherit;
    color: inherit;
    line-height: inherit;
}

figure {
    margin: 1em 40px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #363b40;
    font-weight: 500;
}

h1 {
    font-size: 25px;
    line-height: 34px;
    margin: 0 0 25px 0;
    color: #363B40;
    font-weight: 500;
}

h2, .h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 34px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 15px 0;
    color: #363B40;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 18px 0;
    color: #363B40;
    font-weight: 500;
}

h5, .h5 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
}

h6, .h6 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 3px dotted #ccc;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

html {
    font-family: "Microsoft Yahei", monospace;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    vertical-align: middle;
    border: 0;
}

input {
    line-height: normal;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type=text], input[type=file], input[type=password], input[type=email], select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 0 16px;
    margin: 5px 0;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus {
    outline: 0 !important;
}

mark {
    color: #000;
    background: #ff0;
}

nav {
    display:block;
}

p {
    margin: 0 0 17px 0;
}

small {
    font-size: 80%;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

textarea {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 12px 16px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    margin: 5px 0;
    overflow: auto;
}